[2017-05-15 21:01] carlitux opened #1 "Not working with airline"
This is supported?

[2017-05-16 05:36] bagrat commented on #1
Hi @carlitux, what exactly does not work? Does the `VimWorkspace` tabline show up? If not, is there anything else in the tabline?

If you are using airline's tabline, than you will need to switch it off, to let `VimWorkspace` appear. The airline tabline is disabled by default, so if you have the following line in your vimrc, just make sure to remove it:

[code]

Please let me know if this works fo

[2017-05-16 21:14] carlitux commented on #1
Now tabline was changed but looks like there is issues with vim-startify and no good support with airline.

[2017-05-16 21:17] bagrat commented on #1
@carlitux can you please post some screenshots? Please include as many cases as possible, describing them.

[2017-05-16 22:02] robled opened #2 "Mouse support"
Would it be possible to enable buffer selection through the tab bar with the mouse when `set mouse+=a` is configured?

[2017-05-16 23:19] carlitux commented on #1
They are the errors but are in Spanish

<img width="1436" alt="screen shot 2017-05-16 at 7 15 47 pm" src="https://cloud.githubusercontent.com/assets/40538/26132178/72f05d0a-3a6c-11e7-8a98-c94e9a132572.png">
<img width="1440" alt="screen shot 2017-05-16 at 7 17 53 pm" src="https://cloud.githubusercontent.com/assets/40538/26132185/7abc6678-3a6c-11e7-8314-915597db2750.png">

[2017-05-17 08:30] bagrat commented on #1
@carlitux thanks for the screenshots. I will try to resolve your issue with a bit more info. Can you please update the plugin and see how it works?

If that does not resolve the issue, please link me to your vim config so that I can reproduce your situation locally.

[2017-05-17 09:14] bagrat commented on #2
@robled are you using Vim or NeoVim?

In Vim in will unfortunately not be possible, but there should be a way to do that in NeoVim. I am currently looking at NeoVim options.

[2017-05-17 10:41] bagrat commented on #2
@robled just added mouse support (https://github.com/bagrat/vim-workspace/commit/7c8ed92e70d85919d11b8e605247206a408a2f3c):

* Vim - click support for tabpagess only (due to Vim limitations)
* NeoVim - click support for tabpages, buffers and truncated items. When clicking on the truncated item (arrow and number of truncated buffers), it takes you to the first truncated buffer on the left/right

Pl

[2017-05-17 13:04] carlitux commented on #1
Here is: https://github.com/linkux-it/vimgalaxy
Tabline is not highlighting the current buffer

[2017-05-17 13:07] mkraemer opened #3 "Error after vim-plug finishes installing"
After running :PlugInstall using vim-plug I'm getting the following error:

    Error detected while processing /home/mkraemer/.local/share/nvim/site/plugged/vim-workspace/plugin/workspace.vim:
    line   73:
    E421: Color name or number not recognized: ctermbg= ctermfg=

This only pops up immediately after vim-plug has finished; after subsequents starts everything seems to work great so far :)

[2017-05-17 14:07] bagrat commented on #3
Thanks for using it @mkraemer and for the feedback.

Just tried with `nvim 0.1.7`, but did not get the error. Could you share your configs so I can reproduce?

[2017-05-17 14:15] mkraemer commented on #3
Sure :)

https://github.com/mkraemer/dotfiles/blob/master/vim/.config/nvim/init.vim

I had the chance to play around with vim-workspace for a while and spent some time adapting the colors to my workflow. Everything works great, so the error I've encountered after running :PlugInstall seems not to impact anything :)

[2017-05-17 15:12] carlitux commented on #1
Also there is an error with denite plugin set_colors function

[2017-05-17 15:19] bagrat commented on #1
@carlitux I am currently working on this one. Could you please open a separate issue for the `denite` problem, and provide more details (messages, etc)?

[2017-05-17 15:32] carlitux opened #4 "Denite issue"
[code]

Looks like it is here:

https://github.com/bagrat/vim-workspace/blob/514495914fc361d50b9aaa49c0a888fa50c03834/plugin/workspace.vim#L137

Steps to reproduce:

1. `:Denite buffer` or `:Denite file_rec`
2. Select one item

[2017-05-17 16:00] bagrat commented on #3
Thanks for the configs @mkraemer, I was able to reproduce it, and pushed a fix: https://github.com/bagrat/vim-workspace/commit/9f3fdbadeebac8c8d99db4300d11d5ac5062f6a3

Could you please verify that the error is gone? Thanks in advance!

[2017-05-17 16:01] bagrat commented on #1
@carlitux pushed a fix https://github.com/bagrat/vim-workspace/commit/9f3fdbadeebac8c8d99db4300d11d5ac5062f6a3 that should fix these issues.

Please verify and let me know if the problems remain.

[2017-05-17 16:13] carlitux commented on #1
@bagrat it is looking good, now working... maybe try to use colors from schema? also fixed this https://github.com/bagrat/vim-workspace/issues/4

[2017-05-17 16:13] bagrat commented on #4
@carlitux should be fixed with https://github.com/bagrat/vim-workspace/commit/9f3fdbadeebac8c8d99db4300d11d5ac5062f6a3

[2017-05-17 16:15] bagrat commented on #1
@carlitux thanks for the verification.

You mean pick some standard colors from users current colorscheme? If you have any suggestions or feature, (sorry for this bureaucracy) please open a new issue, and let's discuss in that scope, to keep track of things. How does that sound?

[2017-05-17 16:16] #1 closed

[2017-05-17 16:16] #4 closed

[2017-05-17 16:16] #2 closed

[2017-05-17 16:27] carlitux commented on #1
With vim startify buffer  still errors

[2017-05-17 16:42] carlitux opened #5 "A way to match colors with current color schema"
The tabline is really good and would be good to match colors with current color schema

[2017-05-17 16:49] mkraemer commented on #3
Yes, fixed for me too :)

Thx :heart:

[2017-05-17 16:49] #3 closed

[2017-05-17 17:31] bagrat commented on #5
Thanks for raising this. I did not really think about this, but I definitely like the idea.

How would you consider doing this? E.g. link the default `Highlight` to some built in ones? What exact mapping/matching would you suggest?

[2017-05-17 21:10] carlitux commented on #5
Really I don't know how to do that, I don't know how vim/nvim store color values.

[2017-05-17 22:28] robled commented on #2
Thanks for adding this feature.  I am using vim 8.0.596 and I tested the latest master branch as of the time of this post.  To me, the behavior is unchanged from before, in that if I left-click on the tab bar vim just opens a new empty buffer rather than switching to the buffer that I left-clicked on in the tab bar.

Steps to reproduce:

1.  Open at least two buffers and you can see two filenames

[2017-05-18 13:36] bagrat commented on #2
@robled that's interesting, cause I cannot reproduce it with single left-click. When I do double-left-click anywhere in the tabline, Vim creates a new tabpage, which is from inside Vim, and not under the plugin's control. However, when I left-click on a tabpage, it switches to that tabpage.

Regarding switching buffers, as I have already commented, unfortunately that is not possible in Vim, as opp

[2017-05-18 20:10] joe666 opened #6 "GVim compatibility"
Hello,

Thank you for your very nice and useful plugin. I am having a hard time making it look under GVim exactly as it looks on terminal vim.

It seems GVim somehow turns each buffer/tab into the colors of the current GTK theme. Any advice or suggestion ?

Using VIM 8.0

This is the list of my current installed plugins via Pathogen

bufexplorer
nerdtree
phpcomplete.vim
supertab
tcomment_vim
ultis

[2017-05-18 20:54] bagrat commented on #6
@joe666 thanks for the issue and details provided. If you could also attach a screenshot that would be even better. In the meantime, I will try to reproduce what you have described, and get you some updates as ASAP.

[2017-05-18 21:04] joe666 commented on #6
Thank you very much for the quick response, attached what I am seeing.

![gvim](https://cloud.githubusercontent.com/assets/282958/26223397/8190ca34-3be3-11e7-8156-9031bd07f7ec.png)

Interestingly enough the key mappings work as expected.

[2017-05-18 21:12] bagrat commented on #6
@joe666 thanks for the screenshot. I just figured it out.

So gvim shows "GUI tabline" and hides the text tabline, and that is why you see a single tab there, which represents the single tabpage you have.

So disable that, try setting this in your vimrc:

`set guioptions-=e`

Let me know if this works for you.

[2017-05-18 21:48] joe666 commented on #6
It works, thank you very much for your help and congrats on the excellent plugin.

[2017-05-18 21:48] #6 closed

[2017-05-19 07:19] bagrat commented on #6
Glad it worked! Thank you for using the plugin!

[2017-05-21 14:25] tombh commented on #5
Is `let g:terminal_color_0 = "#1b2b34"` an nvim thing or for all vims? I see in the OceanicNext theme https://github.com/mhartington/oceanic-next/blob/master/colors/OceanicNext.vim#L170

[2017-05-21 14:56] bagrat commented on #5
@tombh this looks like NeoVim specific. What are your trying to achieve?

[2017-05-21 14:59] tombh commented on #5
Oh, well it was maybe an answer for here - if you can expect a set of available `terminal_color_*` vars then maybe you could prefill `vim-workspace` colours with them?

[2017-05-21 15:00] tombh commented on #5
Oh! But just realised, they're set by OceanicNext itself, so it's nothing to do with the version of vim. So maybe these vars are something you can generally expect to see from themes?

[2017-05-23 10:32] bagrat commented on #5
As far as I understood, these variables are [optionally expected by NeoVim](https://neovim.io/doc/user/nvim_terminal_emulator.html#nvim-terminal-emulator-configuration). Still I am not sure how this scan be done, as in the end, `VimWorkspace` would define the UI with fixed colors that would change based on the selected `colorscheme`. However, I don't fully imagine how that would work out, as anywa

[2017-05-23 10:36] tombh commented on #5
Yeah I've been pondering it too and you're right, those values are not canonical enough. So I think something of an MVP would be an config setting defaulting to off, but when on would make an attempt at matching the user's colorscheme.

Another thing that might be nice is just a copy and past snippet in the README. I had to remind myself of the `highlight` syntax.

[2017-07-26 01:04] bakkerme opened #7 "WS doesn't replace tabline on MacVim properly"
If I try to use vim-workspace in the GUI MacVim, rather than getting the workspace tabline I get the GUI tabline. After reading the gvim related issue, I added  `set guioptions -=e` to my .vimrc. However, that only gave me the standard CLI tabline. I can confirm that it's loaded, since the commands offered by the plugin do work. If I use the cli MacVim, everything will work fine, provided I remove

[2017-07-26 08:46] bagrat commented on #7
Thanks for reporting this @bakkerme. I will try to reproduce the case and get back asap.

[2017-07-27 03:47] faceleg opened #8 "Example screenshots are broken"

[2017-07-28 12:31] bagrat commented on #8
hey @faceleg can you please share some screenshots or anything? For me they work ok.

[2017-07-30 21:37] faceleg commented on #8
Ugh, the problem is that I am silly - I had a chrome extension "Mod Headers" installed and had set an auth header, which was breaking a lot of things ...

[2017-07-31 10:41] bagrat commented on #8
cool, thanks for the update.

[2017-07-31 10:41] #8 closed

[2017-10-05 13:57] bagrat commented on #7
Hey @bakkerme, sorry for a supper late response.

I have tried to reproduce the issue you have described with MacVim but no success. I will post screenshots.

**After launching MacVim and creating a couple of empty buffers and tabs:**
<img width="817" alt="screen shot 2017-10-05 at 5 53 12 pm" src="https://user-images.githubusercontent.com/3033265/31230941-89c17ed4-a9f6-11e7-922f-929f83af5c1c.png"

[2017-10-05 13:58] bagrat commented on #7
Could you please post the version of MacVim you are using? That might help to progress.

[2017-10-16 13:20] bagrat commented on #7
Closing this till I get more feedback and succeed to reproduce.

[2017-10-16 13:20] #7 closed

[2017-10-21 12:32] chew-z opened #9 "Garbled output in Vim8 internal terminal."
I have been using your plugin (which changed the way I use buffers) but I am also avid user of [fzf in Vim](https://github.com/junegunn/fzf.vim) and MacVim. Here is the problem.

Since latest release (ver 17.1) fzf is using internal terminal emulator of Vim to present present results. Before in MacVim you had to use a glue script and see results in external terminal window. So this is change for g

[2017-10-21 12:35] #9 closed

[2017-10-21 15:08] bagrat commented on #9
Hey @chew-z, I see you closed the issue, was it a wrong call or you found a fix?

Please let me know if I can help and thanks for using the plugin!

[2017-10-22 09:48] chew-z commented on #9
Yes, it might be that adding tabs from vim-workspace fool MacVim/Vim terminal but I am just not sure. I just cannot isolate the problem well enough. So please disregard this issue.

[2017-10-26 14:19] fbreitwieser opened #10 "Error on startup with vim 7.2"
Thanks for this great plugin. It works well on other machines, but on a server with only vim 7.2 the following error appear at startup when trying to open two files simultaneously:

[code]

[2017-10-26 15:05] bagrat commented on #10
Hey @fbreitwieser, thanks for reporting the issue and using the plugin. I will have a look asap!

[2017-10-26 15:56] fbreitwieser commented on #10
Thanks for the quick reply, @bagrat !

[2017-11-02 15:18] bagrat commented on #10
Hey @fbreitwieser, looks like I missed this part:

is that when you do `vim file1 file2`, or whenever you open two buffers after starting empty `vim`?

[2017-11-15 09:37] semanser commented on #9
I get this problem without vim-workspace, so the problem is probably in the fzf.vim itself.

[2017-12-17 10:39] lynxcs opened #11 "Setting colorscheme triggers errors"
Whenever I try to set the colorscheme inside of vim (It works fine if done inside of vimrc) , it throws out these errors (which I've traced back to vim-workspace).

![2017-12-17-143801_1920x1080_scrot](https://user-images.githubusercontent.com/9138137/34078655-438155e2-e327-11e7-8d49-8c9847dc5a62.png)

[2017-12-20 14:37] bagrat commented on #11
thanks for reporting this @lynxcs.

[2018-03-19 12:10] aruntk commented on #11
@bagrat any updates on this issue?

[2018-03-21 13:47] bagrat commented on #11
@aruntk sorry for the delay, I will make sure to take care of this during the weekend.

[2018-12-16 19:45] bitshiftnetau opened #12 "Conflicting package names"
Hi mate,

I know this sounds a little odd, but if you would consider renaming your plugin that would be super-fantastic fun time.

There is another 'vim-workspace' plugin and I'd like to use both yours and theirs in tandem. Unless your plugin is offering persistent session management, in which case I will recind my request :)

I was gonna ask thaerkh to change their name, but if you look at his co

[2019-01-03 12:58] bagrat commented on #12
Damn that's totally fair @bitshiftnetau. Thanks for speaking up and sorry for late response. I would like to use this opportunity though, to ask you, what would you name this plugin then?

[2019-01-03 13:09] bitshiftnetau commented on #12
Hey, all good we are all in holiday mode atm. Yeh good question haha... vim-session is taken. Maybe vim-persistence? Vim-sticky? Vim-jellycatcher? I think vim-layout is taken as well :(

[2019-01-03 13:13] bitshiftnetau commented on #12
Or you could just go all out cryptic and call it vim-credit... as in 'put it on my tab'... or maybe vim-tabman...

[2019-01-03 13:16] bagrat commented on #12
ok, I went with `vim-buffet` (there is one, but a pretty old one). Buffet like in, everything is put on tables (tabline) and you can see everything available VS need to ask for a menu (`:ls`).

[2019-01-03 13:37] bagrat commented on #10
Closing this as no activity for a pretty long time.

[2019-01-03 13:37] #10 closed

[2019-01-03 13:57] bitshiftnetau commented on #12
Vim-buffet... I like... cryptic is always good.

[2019-02-10 19:01] dmitriyK1 commented on #11
I also have this issue(

[2019-03-06 23:04] bagrat commented on #11
Hey everyone!

Sorry for a long silence here.

I am doing a major rewrite (see `rewrite` branch), and have already addressed this issue. Please hang tight and I will push everything very soon.

[2019-03-10 00:53] bagrat commented on #5
Hey @tombh! I have gone for a full rewrite of this plugin, as the code became very messy and I was not able to add more to it. Now the code is much more readable and actually more efficient, so contributions will be much easier. The new code is still in the `rewrite` branch, but I will be merging it into master very soon.

I have tries to link the default highlight groups into the build in ones, b

[2019-03-10 01:27] bagrat commented on #11
The rewrite branch is not in the master! This issues is fixed.

[2019-03-10 01:27] #11 closed

[2019-03-10 01:33] bagrat opened #14 "[IMPORTANT] The plugin has been renamed"
This plugin has been renamed from `vim-workspace` to `vim-buffet` for a [good reason](https://github.com/bagrat/vim-buffet/issues/12). Also, it has been rewritten completely from scratch, to make it more efficient and the code more readable. This will make it easier for you to contribute and make your own customizations.

Due to this changes, the existing settings you might have in your `vimrc` wi

[2019-03-11 08:04] Newexplorer opened #15 "Error detected while processing function buffetrenderer[1]"
When starting Vim I get this message:
[code]
The error disappears after commenting out the plugin in my vimrc file.
I'm using:
VIM - Vi IMproved 7.4
Included patches: 1-1689

[2019-03-11 17:31] bagrat commented on #15
Thanks for creating the issue @Newexplorer.

I have just built the exact version you posted and not able to reproduce. Are you starting vim with any argument?

Also, could you please the list of other plugins you are using?

[2019-03-12 14:56] Newexplorer commented on #15
I don't run vim with any arguments.
The full list:
[code]

[2019-03-12 15:07] Newexplorer commented on #15
I experimented a bit. I commented all the plugins except for vim-buffet. It worked.
Because I had seen a post about vim-startify before, I commented out only the vim-startify plugin in my vimrc.
Result was that everything worked, including vim-buffet. Apparently, vim-buffet and vim-startify cannot work well alongside each other.

[2019-03-12 15:13] Newexplorer commented on #15
I commented all the vim plugins except for vim-buffet and it worked.
Because I had seen a post about the plugin vim-startify, I commented out only this plugin in my vimrc. Everything worked including vim-buffet.
The plugin vim-startify and vim-buffet doesn't seem to be working well together.
More information: I have Python 2.7.12 on my system.
If you need more information, let me know.

[2019-03-12 15:43] bagrat commented on #15
@Newexplorer thanks for tracing it down, I was able to reproduce it. Will be working on fixing it.

[2019-03-12 15:55] bagrat commented on #15
@Newexplorer 843d9d15e5bda15a2807526ba00cbd44039e5d83 should fix this, please update the plugin and see if it works.

[2019-03-12 15:56] bagrat commented on #15
The problem was that `vim-startify` creates a new **unlisted buffer** at the startup, thus removing the initial empty **listed** one. `vim-buffet` was relying on the fact that there is always at least one listed buffer in the buffer list.

[2019-03-12 16:44] #15 closed

[2019-03-12 17:36] Newexplorer commented on #15
Update worked. Thank you.

[2019-03-17 16:04] bitshiftnetau opened #17 "Customize top left icon"
Hey,

Not sure if this is part of the plugin or just native to vim, but I would love a way to customize the icon in the top left-hand corner i.e. the blue thing with 9 black dots.

Thanks!

![vim](https://user-images.githubusercontent.com/26871600/54494044-436a3a00-492a-11e9-964b-18d41c583a10.png)

[2019-03-18 00:00] bitshiftnetau commented on #17
Nevermind, found it.

[2019-03-18 00:01] bitshiftnetau commented on #17
Nevermind, found it

[2019-03-18 00:21] bagrat commented on #17
I'm glad you found it @bitshiftnetau. Gonna answer regardless for future.

That blue thing is actually a Tabpage representation. As many Tabpages you will have in vim, that many blue things will be there, with buffers following the active one. So for example, if you have 5 Tabpages, and currently have 3rd Tabpage open, then you will have:

[code]

To change the icon of it, there is a dedicated var

[2019-03-18 00:21] #17 closed

[2019-05-09 12:05] c0r73x opened #18 "More highlights"
Would it be possible to add highlights for new and modified buffers aswell? Also a symbol and highlight for readonly would be nice.

[2019-05-09 17:40] bagrat commented on #18
@c0r73x it is definitely possible to do what you have described. Not sure when I can work on that, but please feel free to submit a PR if you would like to hack on it yourself. If so, please let me know and I can provide some hints on where to start. Otherwise, stay tuned and I will post updates here.

[2019-05-10 07:27] c0r73x commented on #18
I made a PR with modified buffers (https://github.com/bagrat/vim-buffet/pull/19). I will check the other types later, but now I have to do some work :P

[2019-05-10 10:27] bagrat commented on #18
Awesome! Thanks @c0r73x, merged!

[2019-05-10 10:29] #18 closed

[2019-05-10 15:56] mnrce opened #20 "vim-buffet doesn't work on neovim"
Hi,

I just installed vim-buffet in neovim using vim-plug, after restarting neovim, the tabline appear, but it only showed with the active buffer only, not any other buffers.

I tested in vim 8.1 and it showed fine.

I'm using neovim 0.3.5.

Please tell me if I need to provide any more information, thanks.

[2019-05-28 11:27] bagrat commented on #20
@mnrce thanks for creating this issue and providing all the info. I'll be able to have a look into this in a week and will keep updating this issue.

[2019-06-26 12:29] bagrat commented on #20
@mnrce I have just tested with neovim v0.3.7 and it works fine. Can you please try upgrading neovim and see if the issue continues to appear?

[2019-06-26 12:52] mnrce commented on #20
I've just tested with neovim v0.3.7 and v0.4.0-1119-g8c7e41f59 and still had the same issue:

![image](https://user-images.githubusercontent.com/13317164/60180990-6a021000-984b-11e9-96a3-02b49bc05bc8.png)
You can see that `:ls` show two buffers but the tabline only show one.

[2019-06-26 13:07] bagrat commented on #20
Thanks for posting the screenshot @mnrce. I think the problem is with another plugin. Are you using `airline` for statusline?

[2019-06-26 13:26] mnrce commented on #20
I'm using lightline for statusline.

[2019-06-26 14:38] bagrat commented on #20
@mnrce figured it out. So you probably have the Lightline Tabline enabled by default. The reason you see just one buffer, is that the Lightline Tabline actually shows the tabs and not buffers, and the tab just shows the current active buffer. All you need to do is just disable the Lightline Tabline, should be something like this:

[code]

Please confirm that it worked for you, or let me know other

[2019-06-26 15:47] mnrce commented on #20
It works now, thank you. I didn't know lightline has tabline, and for some reason it worked in vim but not neovim, so I didn't think lightline was the reason.

[2019-06-26 15:47] #20 closed

[2019-06-26 16:06] bagrat commented on #20
I am glad it worked for you @mnrce!

@EdgarOrtegaRamirez @nifoc could you please check if this works for you as well?

[2019-06-26 22:43] EdgarOrtegaRamirez commented on #20
In my case this was the setting:

[code]

and this is how it looks
![image](https://user-images.githubusercontent.com/2790520/60219879-d4aa5000-9839-11e9-9cde-b5f30bcac304.png)

[2019-06-27 09:18] bagrat commented on #20
@EdgarOrtegaRamirez great, that's what it is supposed to look like. You can customize the colors the way you want as well as apply for fancy stuff like [this](https://github.com/bagrat/vim-buffet#how-do-i-get-the-look-like-in-the-screenshot). Note, the blue `#`-es are the Tabpages. So in your case you have 4 Tabpages, and currently Tabpage #3 is active.

[2019-07-07 17:42] chunkhang opened #21 "Switching buffer by index"
I just migrated from [vim-buftabline](https://github.com/ap/vim-buftabline). One thing I miss is switching buffers by their ordinal numbers. It will be great if vim-buffet can do something similar by providing the option to display index number before the buffer name, and exposing a function to switch to buffer with index X.
[code]

[2019-07-07 17:56] chunkhang opened #22 "Hide tabline when there is only one buffer"
It will be nice if there is an option for disabling the tabline when there is only one buffer.

[2019-07-08 15:51] bagrat commented on #21
Thanks for contributing ideas here @chunkhang! Please feel free to submit a PR for this feature or ask for reference points for where to start from.

Otherwise, I will update this issue as soon as I start working on it.

[2019-07-08 16:07] chunkhang commented on #21
Sure @bagrat. I'll be more than happy to work on a PR.

[2019-07-08 16:12] bagrat commented on #21
Perfect! A good starting point would be to add the buffer index to the rendered result [here](https://github.com/bagrat/vim-buffet/blob/843d9d15e5bda15a2807526ba00cbd44039e5d83/autoload/buffet.vim#L235-L239). For switching by buffer index, you might want to come up with a new function, command and maybe even mapping.

[2019-07-11 03:35] chunkhang opened #24 "Buffer name not updating"
**Steps to reproduce:**
1. Launch Vim
2. `:split` to create new window
3. `:edit file2` in that new window
4. Switch back to first window
5. `:edit file1` in the first window

**What was expected:**
The tabline to be `# | file1 | file2 |`

**What happened instead:**
The tabline is `# | * | file2 |`

[2019-07-11 13:39] bagrat commented on #24
This is probably related to the general [caching mechanism (in a dict and array)](https://github.com/bagrat/vim-buffet/blob/master/autoload/buffet.vim#L1-L2). I think we should rather reconsider how we keep the list of the existing buffers or just get the new list every time if the performance will allow to do so.

[2019-07-11 17:22] chunkhang commented on #24
It seems like [this line](https://github.com/bagrat/vim-buffet/blob/1c1ee322c3fd02be81f5b60937f5130f078861f1/autoload/buffet.vim#L44) is the culprit.

[code]

Currently, we're not updating the buffer if it already exists and there's more than 1 buffer. It works for most cases, but not when you perform the steps mentioned.

[2019-07-11 17:26] #21 closed

[2019-07-11 17:49] chunkhang opened #25 "Disambiguate buffer name"
Right now, we're only taking the basename of the file. We can take a look at how **vim-buftabline** managed to disambiguate files with the same basename [here](https://github.com/ap/vim-buftabline/blob/14d208b1fa5f4308383e3ce429d57c84423029f9/plugin/buftabline.vim#L87).

So, ideally, we get something like this:
[code]

[2019-07-11 17:52] chunkhang opened #26 "Quickfix buffer should not be shown"
By right, we need to make sure that the quickfix buffer doesn't appear in the tabline at all.

[2019-07-11 18:21] bagrat commented on #26
Some plugins actually open the QF buffer as a hidden one, but looks like not all of them.

[2019-07-11 18:25] bagrat commented on #25
This is a great idea and something I had in mind but never had time to work on. Thanks for creating this one and linking *vim-buftabline * example 👍

[2019-07-11 18:25] chunkhang commented on #26
Ah, I usually launch Vim with something like `vim -q <(rg --vimgrep something)` to get the quickfix list populated. So, it's not hidden.

[2019-07-11 18:31] #26 closed

[2019-07-12 16:45] #22 closed

[2019-07-15 06:02] Newexplorer opened #31 "E216: No such group or event: TabNew * set showtabline=2"
At startup I get this error:
Error detected while processing /home/porter/.vim/bundle/vim-buffet/plugin/buffet.vim:
line   11:
E216: No such group or event: TabNew * set showtabline=2
Press ENTER or type command to continue
Commenting out the rest of the plugin, and only leaving vim-buffet active, results in the same error.
`

[2019-07-15 07:22] chunkhang commented on #31
@Newexplorer can you try `:echo exists('#TabNew')` in Vim?

[2019-07-15 10:00] Newexplorer commented on #31
I did what you requested and the output was: 0 (zero).

[2019-07-15 11:15] chunkhang commented on #31
Seems like your Vim doesn't support the `TabNew` event. Which version are you using? Can you try `:version`, and also see if you have `+autocmd` or `-autocmd`.

[2019-07-15 12:39] Newexplorer commented on #31
VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Jun 07 2019 15:35:43)
+autocmd

[2019-07-15 15:06] bagrat opened #32 "Refactor"
* Rethink how to store/cache the state of the buffer or fetch the list every time if the performance allows
* Make the code more readable by splitting the long functions into smaller units

Related to and will solve https://github.com/bagrat/vim-buffet/issues/24

[2019-07-16 02:40] #25 closed

[2019-07-16 03:01] chunkhang commented on #31
Ah, the [changelog](https://vimhelp.org/version8.txt.html) shows that the `TabNew` autocommand event was added for version 8. We'll use `TabEnter` instead to support version 7.

[2019-07-16 11:24] chunkhang commented on #31
@Newexplorer can you update the plugin and try again?

[2019-07-16 16:07] Newexplorer commented on #31
Thank you. That worked, chunkhang.

[2019-07-16 16:08] Newexplorer commented on #31
Thank you. That worked, chunkhang.

[2019-07-16 16:08] #31 closed

[2019-09-10 05:38] 520Chris opened #35 "Vim-buffet does not work well"
Please see the screenshot, and I have installed Sauce-Code-Pro-Nerd-Font.
![Screenshot from 2019-09-09 22-36-23](https://user-images.githubusercontent.com/39628662/64586834-1c1f9180-d3d0-11e9-8e76-b6060f9fe166.png)

[2019-09-22 09:47] tmerse commented on #24
I can confirm something similar happens, if I open a fila from nerdTree via the default "open in new tab"-binding.

[2019-10-11 04:06] #35 closed

[2019-10-25 07:47] hexid26 opened #36 "The number of truncated buffers cannot be displayed"
Following the tutorial in the readme file, I config my vim. But my vim can not display the `number of truncated buffers`, `buffet_left_trunc_icon`, and `buffet_right_trunc_icon`. I don't know what I missed.

My vim looks like this.

<img width="650" alt="image" src="https://user-images.githubusercontent.com/11417927/67552281-57d2a880-f73d-11e9-9641-db30199b24c3.png">

The end is my `vimrc`. The fo

[2019-10-30 11:31] bagrat commented on #36
Hi @hexid26! Can you please open enough buffers that do not actually all fit into the tabline and  share a screenshot of that along with the actual `:ls` result?

[2019-10-30 15:54] #36 closed

[2019-11-12 05:22] yanke1311 opened #37 "how to change color"
while I defined a function with name g:BuffetSetCustomColors, I don't know how to use it. if the plug will call the function automatically， or  should I call it manually?
I try to call it before/after the plug been loaded, but it don't work

[2019-11-24 19:30] ChrisAmelia opened #38 "Separators not correctly displayed when termguicolors is set"
Using following config:

[code]

This is the result when `termguicolors` is not set:

![image](https://user-images.githubusercontent.com/16366403/69500149-d8c9bf00-0ef8-11ea-8967-4d87427370a2.png)

And this is the result when `termguicolors` is set:

![image](https://user-images.githubusercontent.com/16366403/69500164-f4cd6080-0ef8-11ea-96e0-9975ce1ccbdd.png)

**To reproduce**:

Comment/uncomment

[2019-12-05 13:47] baIIoon opened #39 "This plugin has a bright future but the code is pretty messy"
I want to add different separated on both sides, but kind of want to give up because can't understand the code

[2019-12-09 07:04] baIIoon commented on #32
Seem like you guys kind of busy. I just refactor the logic for `vim-buffet` here: https://github.com/baIIoon/vim-buffet/tree/cleaning

I'm pretty new to Vimscript, so if you guys don't like it then I just want to contribute with some ideas:
* We should split the Logic and UI to 2 files
* Make a good code docs to easy add or tweak features in the Logic or in the UI
* The UI kind of really hard to u

[2019-12-09 07:34] #39 closed

[2019-12-10 16:28] bagrat commented on #32
Hey @baIIoon! Thanks for all your contributions and for raising the #39. Indeed, the code is messy and I also have hard time reading it when coming back after a while. Unfortunately, I won't have the time to work on it for a while, but I would be more than happy to review your suggestions and updates.

If you feel like working on it further, I would be happy to add you to the contributors so that

[2019-12-15 11:26] baIIoon commented on #32
@bagrat, i just created PR, it's actually pretty cumbersome. **Please don't merge it**.

 I just want to show you the idea. The reason why it's so bloated is because: I think we don't have a lot of time to develop `vim-buffet`, so  the code must be easy to understand and in well organized, that will let us add or fix something more easier.

Here are some of my ideas:
- The flow of reading the code

[2020-03-04 06:31] ztoiax commented on #37
### my settings
`function! g:BuffetSetCustomColors()
    hi! BuffetCurrentBuffer cterm=NONE ctermbg=106 ctermfg=8 guibg=#b8bb26 guifg=#000000
    hi! BuffetTrunc cterm=bold ctermbg=66 ctermfg=8 guibg=#458588 guifg=#000000
    hi! BuffetBuffer cterm=NONE ctermbg=239 ctermfg=8 guibg=#504945 guifg=#000000
    hi! BuffetTab cterm=NONE ctermbg=66 ctermfg=8 guibg=#458588 guifg=#000000
    hi! BuffetActi

[2020-03-04 06:34] ztoiax commented on #37
### my settings
function! g:BuffetSetCustomColors()
hi! BuffetCurrentBuffer cterm=NONE ctermbg=106 ctermfg=8 guibg=#b8bb26 guifg=#000000
hi! BuffetTrunc cterm=bold ctermbg=66 ctermfg=8 guibg=#458588 guifg=#000000
hi! BuffetBuffer cterm=NONE ctermbg=239 ctermfg=8 guibg=#504945 guifg=#000000
hi! BuffetTab cterm=NONE ctermbg=66 ctermfg=8 guibg=#458588 guifg=#000000
hi! BuffetActiveBuffer cterm=NONE c

[2020-03-26 02:11] Nemoden opened #41 "Show buffer numbers (instead or alongside indexes) #feature-request"
Although having ordinal indexes is great, I'd like to have a visibility over buffer's number.
In order to switch to `lynx.conf`, I'd normally do `:b <number>`, but I'm confusing actual buffer number (3) with it's index (2).

Indexes (lynx.conf -> 2, README.md -> 3):
<img width="824" alt="Screenshot 2020-03-26 12 56 10" src="https://user-images.githubusercontent.com/795034/77602311-3fbbbb00-6f61-11

[2020-04-20 13:43] Akin909 opened #42 "Not clear that vim devicons needs to be loaded before vim-buffet"
Firstly thanks for the great plugin :100: it's been super useful.
When I initially installed it I tried to get it working with vim devicons but kept finding that the icons wouldn't show. I re-read the instructions in the `README` and realised (although it isn't explicitly stated) that I had to load vim devicons _before_ vim buffet
[code]

This is probably not too big a deal but I think it would be

[2020-05-09 03:06] Mdsp9070 opened #43 "Changing buffers with index don't work"
I mapped my leader key to ',' and I'm using the sample map to change buffers with its index. However, its always fails no matter how many buffers I have opened.

There's a further configuration that I need to make?

There's any known conflict with other plugins?

Here's the key mapping: https://github.com/Mdsp9070/nvim/blob/master/partials/setup.vim#L10

My plugins: https://github.com/Mdsp9070/nvi

[2020-05-16 17:36] #43 closed

[2020-06-22 21:38] Th3Whit3Wolf commented on #38
Is there any work around for this?

[2020-06-22 23:03] ChrisAmelia commented on #38
Rewriting  the highlights should do it, especially in https://github.com/bagrat/vim-buffet/blob/master/plugin/buffet.vim#L160

Replace:

[code]

with:

[code]

Give a look at: https://github.com/bagrat/vim-buffet/compare/master...ChrisAmelia:master

[2020-06-23 06:29] Th3Whit3Wolf commented on #38
@ChrisAmelia I tried install yours and I get

[code]

[2020-06-23 07:38] ChrisAmelia commented on #38
Define in your init.vim:

[code]

[2020-06-26 08:35] Th3Whit3Wolf commented on #38
From what I can tell the issue comes from checking if the user is using a gui and then deciding off that to use guicolors. The problem is that obviously some terminals support the same kind of colors as guis. My pull request fixes this by checking if the user is in a gui or has set termguicolors.

[2020-06-26 09:24] bagrat commented on #37
Sorry for late response @yanke1311, the function is [being called automatically](https://github.com/bagrat/vim-buffet/blob/b17850f3a8f3084471d4ed4a201f8a5ec0abd857/plugin/buffet.vim#L173-L175) by the plugin, you just need to make sure your function is defined before the plugin is loaded. Can you please show your config?

[2020-06-26 09:25] bagrat commented on #38
This is fixed thanks to @Th3Whit3Wolf

[2020-06-26 09:25] #38 closed

[2020-06-26 09:31] bagrat commented on #42
@Akin909 thanks for pointing this out! I have [updated the README](https://github.com/bagrat/vim-buffet/pull/46) to address that.

[2020-06-26 09:31] #42 closed

[2020-06-26 09:35] bagrat commented on #41
@Nemoden sorry for late response and thanks for filing this request while explaining the motivation and suggesting ideas 👍 It would be better to address this in the scope of #32, for which I will try to find some time in the next month.

[2020-07-08 01:56] yanke1311 commented on #37
thank you!

[2020-07-08 01:56] #37 closed

[2020-09-12 00:59] macintacos opened #49 "Colors inherit from current theme?"
For example, I use Dracula, and was surprised that this plugin did not inherit the colors from that theme instead of using a default. Needing to manually change them isn't impossible, but it is a little annoying.

Unless I'm missing something and have my configuration messed up somehow?

[2020-09-12 12:37] baIIoon commented on #49
Can you provide a screenshot? I prefer you to config the Highlights manually because the plugin is kind of hard for newcomers to adding new features. So instead of refactoring it, I'm trying to rewrite it using Lua (branch `lua`?) and maybe I will add Highlights based on the color scheme.

[2020-09-14 04:44] macintacos commented on #49
I decided to bite the bullet and just edit the color scheme to match Dracula's colors directly (did that before I saw your update 🙂). This is what I came up with (which works great for me):

[code]

[2020-09-14 04:44] #49 closed

[2020-09-20 23:19] macintacos opened #50 "Goyo makes vim-buffet "go away""
I'm not sure if this is a problem that vim-buffet or Goyo should solve, so I'm just going to file an issue in both places 🙂

When activating [goyo](https://github.com/junegunn/goyo.vim), it seems to "reset" the tab line. If there were a way to tell vim-buffet to "re-render" in my mappings, I could probably make this problem go away, but I haven't gotten that far yet.

Here's a recording of the iss

[2020-10-02 12:57] bloodnighttw opened #51 "appear more than one icon!"
(Sorry About  My Bad English)
As title,this tabline appear two or three or more icon when i open a new windows(type command `tabnew xxxxxx`)
I think this is a bug, so i open this issues.

Photo will upload later.

[2020-10-02 12:57] bloodnighttw commented on #51
[url=http://i.imgur.com/vhID9hQ.png]
  [img]http://imgur.com/vhID9hQl.png[/img]
[/url]

[2020-10-02 12:58] bloodnighttw commented on #51
![](http://imgur.com/vhID9hQl.png)

[2020-10-02 13:06] bloodnighttw commented on #51
And this is my .vimrc
<script src="https://gist.github.com/bloodnighttw/a38dd00647ba58226b21b3e78f04485d.js"></script>

[2020-10-05 15:40] baIIoon commented on #51
Sorry for the late response! The photos are pretty low quality but I guess maybe [this](https://joshldavis.com/2014/04/05/vim-tab-madness-buffers-vs-tabs) can help.

[2020-10-05 15:45] #51 closed

[2020-10-09 09:30] hrai commented on #20
This is what worked for me. Perhaps we can leave this issue open as it's not as obvious to find.

[2020-10-10 06:58] baIIoon commented on #20
@hrai, should I add this to README?

[2020-10-10 07:01] baIIoon commented on #20
@hrai, https://github.com/bagrat/vim-buffet#faq

[2020-10-12 05:48] hrai commented on #20
@baIIoon not sure why that didn't work for me.

[2020-10-14 17:28] baIIoon commented on #20
@hrai, I updated the README, https://github.com/bagrat/vim-buffet/commit/27d5a452b214461ec78d0f5fc7704dc3ed6becc3. I don't have much experience with VimL to answer (clarify) that, so sorry!

[2020-11-08 01:42] ztoiax opened #53 "How to swap buffer1 and buffer2"
How do I move the location of the buffer

[2020-11-11 03:18] balloox commented on #53
Don't have yet, this will be added in [buffet.nvim](https://github.com/balloox/buffet.nvim), not in this plugin.

[2020-11-11 03:18] #53 closed

[2021-02-11 19:07] kantord opened #55 "neomvim freezes when using vim-buffet together with vim-esearch"
See thread at vim-easearch: https://github.com/eugen0329/vim-esearch/issues/172#issuecomment-771156184

[2021-02-12 07:55] GopherJ opened #56 "crashes while decreasing window width"
![image](https://user-images.githubusercontent.com/33961674/107742745-96cda880-6d4a-11eb-9949-cafc29208303.png)

nvim version:
[code]

[2021-02-12 07:56] GopherJ commented on #56
![Peek 2021-02-12 15-52](https://user-images.githubusercontent.com/33961674/107742893-d7c5bd00-6d4a-11eb-84cb-efc8d747490d.gif)

[2021-02-12 08:00] GopherJ commented on #56
looks like issue comes from:

https://github.com/bagrat/vim-buffet/blob/27d5a452b214461ec78d0f5fc7704dc3ed6becc3/plugin/buffet.vim#L87-L107

[2021-03-27 08:12] ankitpal1029 opened #57 "Shorten Name Displayed on Tabline"
Often while working on bigger projects i end up opening 5-8 buffers and they're not always visible to me,
I was thinking of providing a shorter name for the file so that at least 10 buffers can be accommodated as and when needed.

![image](https://user-images.githubusercontent.com/49815751/112714793-1cc04000-8f02-11eb-99cc-e3dc70982674.png)
In the above image i'd prefer to be able to see all the b

[2021-04-03 06:12] neerajbadlani opened #58 "newtab creates new buffet icon during render ( Image Attached )"
![image](https://user-images.githubusercontent.com/3440085/113470229-d9d20100-9408-11eb-8b9a-64fd5e539cd7.png)

[2021-04-04 08:17] balloox commented on #58
Check this issue #51

[2021-04-04 08:17] #58 closed

[2021-05-14 07:48] chunkhang commented on #56
To reproduce the issue:

1. Open 2 files with Vim

[code]

2. Modify the second file in the buffer tabline

[code]

3. Decrease the window width until the first buffer becomes truncated

[code]

[2021-05-18 13:47] #56 closed

[2021-06-03 19:53] VedantParanjape opened #60 "Customize the tabs"
I want to make my configuration of vim buffet look like this

![Screenshot from 2021-06-04 01-22-10](https://user-images.githubusercontent.com/22630228/120703782-636a8180-c4d3-11eb-8b06-8ec03014ada4.png)

I couldn't understand how to implement this in vim buffet.

The image source: https://github.com/akinsho/dotfiles/blob/main/dotfiles.png

This guy uses vim-buffet

[2021-06-05 05:53] #60 closed

[2021-06-05 17:43] Cris-lml007 opened #61 "I can't change the color of the buffers"
I cannot change the color of the buffers, and I have already tried several things to change it but nothing that I achieve, only when I put the function that is in the plugin documentation the active buffer turns purple, I tried to change the values ​​of the Colors but does not affect anything, please help.

[2021-06-17 16:11] alexzanderr commented on #61
same here!

![image](https://user-images.githubusercontent.com/54772464/122434366-b3e7e180-cf9f-11eb-9f18-58a2436d0db9.png)

in my .vimrc:
[code]
and these colors are definitely not like those in the photo.

and ofc, function is loaded before the plugin.

[2021-06-28 13:38] Eoin-McMahon opened #62 "A way to automatically run a command in a new tab"
I want to be able to define a key map that runs a command immediately in the new tab, for example:

`noremap <C-t>      --> opens a tab a runs :terminal`
or
`noremap <C-s>      --> opens a tab and runs the :Startify command (for the startify vim plugin) `

Is there a way to do this?

From reading the readme I couldn't see a way to do this, if its possible it would be nice to have this sort of func

[2021-07-02 12:24] #62 closed

[2021-07-02 12:27] Eoin-McMahon commented on #62
a simple nmap will open terminal in the current tab
I guess the only way to do what I want is to ctrl-t to split then this remap. not ideal but it works
I.e "nmap <leader>t :ter"

[2021-07-04 08:51] sudipghimire533 opened #63 "Strange background showing"
I tried to achive the same looks as in screenshot of README and I say I only got something partial. Here is the actual screenshot
![image](https://user-images.githubusercontent.com/39845901/124379157-0b42bd00-dcd5-11eb-8874-0eecaff05224.png)
The green background throughout the tabline spoiled the looks. and also notice buffer are separating ini weird way (with black background and white seperator)

[2021-07-13 14:15] thyseus opened #64 "Ability to switch between previous and current buffer back-and-forth"
Is it possible to switch between the previous and the current buffer back-and-forth via command?
If so - could it please be documented in the `Recommendations` of `README.md` ?

Thanks a lot for this wonderful plugin !!!

[2021-07-15 07:27] thyseus commented on #64
Nevermind - you can do:

[code]

:)

[2021-07-15 07:27] #64 closed

[2021-07-24 21:47] Cris-lml007 commented on #61
After doing several tests I came to the conclusion that it is due to the terminal format or in other words, that those colors do not influence the terminals but rather the graphic mode of vim or also called gvim.

[2021-08-27 14:45] iysheng opened #65 "vim-buffet display strange."
When I open vim, i could not see new tabline style, but just see as:
[![hlMkvD.png](https://z3.ax1x.com/2021/08/27/hlMkvD.png)](https://imgtu.com/i/hlMkvD)
It's strange that I `let g:buffet_always_show_tabline = 0`, but i still could see the tabline and besides the style is also default style.

[2021-08-28 00:35] iysheng commented on #65
The issue is same as #20 , After I add line as:
[code]
I can see the tabline now, besides how could i change the color like  this :
![](https://s3.bmp.ovh/imgs/2021/08/55f59e2b43473393.png)
I want to change the blue background and the gray backgroud, but ater I change
[code]
It didn't work, ` ctermbg=3 ctermfg=1 ` is invalid, but `guifg=#cbccc6 guibg=#1f2430` can change the tab style.

[2021-08-28 01:34] soahyle commented on #65
`lightline` is a plugin that displays both the tabline and statusline hence the conflicting with `buffet-vim`  a tabline plugin.

Blue one is `BuffetTab`, gray one is `TablineFill` https://stackoverflow.com/a/7238201/14627693.

And btw you currently using tab instead of buffer, you should real this before continuing https://joshldavis.com/2014/04/05/vim-tab-madness-buffers-vs-tabs/

[2022-01-02 03:47] qaqcxh commented on #63
I found a workaround: just add "set termguicolors" to your .vimrc

[2022-01-02 07:45] qaqcxh commented on #63
I solved this problem finaly, you should replace "if has("gui") || has(”termguicolors)" to "if has("gui_running")" in buffet.vim and then modify some ctermfg or ctermbg to a name.

Here is the patch：
[code]

[2022-01-02 09:07] qaqcxh commented on #61
There exists some bugs in this plugin when handling terminal vim, see #63

[2022-01-26 02:58] krisfans opened #69 "Feature request: add ability to use nvim-web-devicons plugin to display filetype icons"
Thanks for your work.
I konw this plugin can use `let g:buffet_use_devicons=1` to  show file type icons for each buffer in the tabline via [vim-devicons](https://github.com/ryanoasis/vim-devicons) , but there is no color for filetype icons. So whether you can display highlighted icons using [nvim-web-devicons](https://github.com/kyazdani42/nvim-web-devicons)?

[2022-02-11 18:02] SongTianxian9 commented on #63
BEFORE:
![image](https://user-images.githubusercontent.com/88336105/153644747-84be48cd-0aac-48d5-a799-b20688b38fdd.png)
AFTER:
![image](https://user-images.githubusercontent.com/88336105/153644819-cdf71d4a-5a3f-4586-951c-4f5d665aba75.png)

[2022-02-13 07:44] SongTianxian9 commented on #63
I changed my colorscheme to onehalfdark and did some config, now , it's really pretty
![image](https://user-images.githubusercontent.com/88336105/153743942-3a8ba1ad-1e60-4db0-9120-8dbd02681e05.png)

[2022-03-14 20:07] Cris-lml007 commented on #61
I just fixed the error in the colors, it should be added to the .vimrc :
`set termguicolors`

[2022-04-05 23:54] #61 closed

[2022-07-17 00:56] 0x8f701 opened #70 "nvim-webicons support"